In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\sweth\\Downloads\\jaundice_final_ds.csv")

In [3]:
data.head()

,age,billirubin total,billirubin direct,ALT(SGPT),AST(SGOT),alkaline phosphatase,outcome
0,43,2.7,1.2,40,35.0,75.0,1.0
1,34,3.6,1.8,45,30.0,80.0,1.0
2,29,5.4,2.6,50,40.0,90.0,1.0
3,51,1.5,0.8,35,25.0,70.0,1.0
4,38,4.2,2.0,45,35.0,80.0,1.0

In [4]:
data.tail()

,age,billirubin total,billirubin direct,ALT(SGPT),AST(SGOT),alkaline phosphatase,outcome
201,66,0.7,0.2,16,15.0,75.0,0.0
202,68,0.8,0.3,18,17.0,72.0,0.0
203,67,0.6,0.2,12,14.0,68.0,0.0
204,69,1.0,0.4,22,21.0,82.0,0.0
205,66,0.9,0.3,19,18.0,77.0,0.0

In [5]:
data.shape

(206, 7)

In [6]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

Number of Rows 206
Number of Columns 7

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   206 non-null    int64
 1   billirubin total      206 non-null    float64
 2   billirubin direct     206 non-null    float64
 3   ALT(SGPT)             206 non-null    int64
 4   AST(SGOT)             205 non-null    float64
 5   alkaline phosphatase  205 non-null    float64
 6   outcome               205 non-null    float64
dtypes: float64(5), int64(2)
memory usage: 11.4 KB

In [8]:
data.isnull().sum().sum()

3

In [9]:
data1=data.fillna(value=0)

In [10]:
data1.isnull().sum()

age                     0
billirubin total        0
billirubin direct       0
ALT(SGPT)               0
AST(SGOT)               0
alkaline phosphatase    0
outcome                 0
dtype: int64

In [11]:
data1.describe()

,age,billirubin total,billirubin direct,ALT(SGPT),AST(SGOT),alkaline phosphatase,outcome
count,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000
mean,39.330097,3.416019,1.689806,29.291262,28.946602,64.058252,0.631068
std,17.124160,2.689126,1.591484,13.891658,12.719567,18.779504,0.483691
min,5.000000,0.400000,0.100000,10.000000,0.000000,0.000000,0.000000
25%,27.000000,0.800000,0.300000,14.250000,16.250000,52.250000,0.000000
50%,37.000000,2.950000,1.350000,28.000000,29.000000,72.000000,1.000000
75%,53.000000,5.100000,2.200000,43.000000,37.000000,78.750000,1.000000
max,69.000000,9.800000,6.200000,55.000000,55.000000,95.000000,1.000000

In [12]:
import numpy as np

In [13]:
data1_copy = data1.copy(deep=True)

In [14]:
data1.columns

Index(['age ', 'billirubin total', 'billirubin direct', 'ALT(SGPT)',
       'AST(SGOT)', 'alkaline phosphatase', 'outcome'],
      dtype='object')

In [15]:
data1_copy[['billirubin total','billirubin direct', 'ALT(SGPT)', 'AST(SGOT)',
       'alkaline phosphatase']] = data1_copy[['billirubin total','billirubin direct', 'ALT(SGPT)', 'AST(SGOT)',
       'alkaline phosphatase']].replace(0,np.nan)

In [16]:
data1.isnull().sum()

age                     0
billirubin total        0
billirubin direct       0
ALT(SGPT)               0
AST(SGOT)               0
alkaline phosphatase    0
outcome                 0
dtype: int64

In [17]:
data2=data1.fillna(value =0)

In [18]:
data2.isnull().sum()

age                     0
billirubin total        0
billirubin direct       0
ALT(SGPT)               0
AST(SGOT)               0
alkaline phosphatase    0
outcome                 0
dtype: int64

In [19]:
X = data2.drop('outcome',axis=1)
y = data2['outcome']

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,
                                               random_state=42)

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.pipeline import Pipeline

In [22]:
pipeline_lr  = Pipeline([('scalar1',StandardScaler()),
                         ('lr_classifier',LogisticRegression())])

pipeline_knn = Pipeline([('scalar2',StandardScaler()),
                          ('knn_classifier',KNeighborsClassifier())])

pipeline_svc = Pipeline([('scalar3',StandardScaler()),
                         ('svc_classifier',SVC())])

pipeline_dt = Pipeline([('dt_classifier',DecisionTreeClassifier())])
pipeline_rf = Pipeline([('rf_classifier',RandomForestClassifier(max_depth=3))])
pipeline_gbc = Pipeline([('gbc_classifier',GradientBoostingClassifier())])

In [23]:
pipelines = [pipeline_lr,
            pipeline_knn,
            pipeline_svc,
            pipeline_dt,
            pipeline_rf,
            pipeline_gbc]

In [24]:
pipelines

[Pipeline(steps=[('scalar1', StandardScaler()),
                 ('lr_classifier', LogisticRegression())]),
 Pipeline(steps=[('scalar2', StandardScaler()),
                 ('knn_classifier', KNeighborsClassifier())]),
 Pipeline(steps=[('scalar3', StandardScaler()), ('svc_classifier', SVC())]),
 Pipeline(steps=[('dt_classifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('rf_classifier', RandomForestClassifier(max_depth=3))]),
 Pipeline(steps=[('gbc_classifier', GradientBoostingClassifier())])]

In [25]:
for pipe in pipelines:
    pipe.fit(X_train,y_train)

In [26]:
pipe_dict = {0:'LR',
             1:'KNN',
             2:'SVC',
             3:'DT',
             4: 'RF',
             5: 'GBC'}

In [27]:
pipe_dict

{0: 'LR', 1: 'KNN', 2: 'SVC', 3: 'DT', 4: 'RF', 5: 'GBC'}

In [28]:
for i,model in enumerate(pipelines):
    print("{} Test Accuracy:{}".format(pipe_dict[i],model.score(X_test,y_test)*100))

LR Test Accuracy:100.0
KNN Test Accuracy:100.0
SVC Test Accuracy:100.0
DT Test Accuracy:100.0
RF Test Accuracy:100.0
GBC Test Accuracy:100.0

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
X = data2.drop('outcome',axis=1)
y = data2['outcome']

In [31]:
data2.isnull().sum()

age                     0
billirubin total        0
billirubin direct       0
ALT(SGPT)               0
AST(SGOT)               0
alkaline phosphatase    0
outcome                 0
dtype: int64

In [32]:
rf =RandomForestClassifier(max_depth=3)

In [33]:
rf.fit(X,y)

RandomForestClassifier(max_depth=3)

In [34]:
new_data = pd.DataFrame({
    'age ':43,
    'billirubin total':2.7,
    'billirubin direct':1.2,
    'ALT(SGPT)':40,
    'AST(SGOT)':35,
    'alkaline phosphatase':75,
},index=[0])

In [35]:
p = rf.predict(new_data)

In [36]:
if p[0] == 0:
    print('non-jaundice')
else:
    print('jaundice')

jaundice

In [37]:
import joblib

In [38]:
joblib.dump(rf,'model_joblib_jaundice')

['model_joblib_jaundice']

In [39]:
model = joblib.load('model_joblib_jaundice')

In [40]:
model.predict(new_data)

array([1.])

In [42]:
from tkinter import *
import joblib

In [ ]:
from tkinter import *
import joblib
import numpy as np
from sklearn import *
def show_entry_fields():
    p1=float(e1.get())
    p2=float(e2.get())
    p3=float(e3.get())
    p4=float(e4.get())
    p5=float(e5.get())
    p6=float(e6.get())
   
    model = joblib.load('model_joblib_jaundice')
    result=model.predict([[p1,p2,p3,p4,p5,p6]])
    
    if result == 0:
        Label(master, text="Non-jaundice").grid(row=31)
    else:
        Label(master, text="jaundice").grid(row=31)
    
    
master = Tk()
master.title("jaundice Prediction Using Machine Learning")


label = Label(master, text = "jaundice Prediction Using Machine Learning"
                          , bg = "red", fg = "black"). \
                               grid(row=0,columnspan=2)


Label(master, text="Enter Value of Age").grid(row=1)
Label(master, text="billirubin total").grid(row=2)
Label(master, text="billirubin direct").grid(row=3)
Label(master, text="Enter Value of ALT(SGPT)").grid(row=4)
Label(master, text="Enter Value of AST(SGOT)").grid(row=5)
Label(master, text="Enter Value of alkaline phosphatase").grid(row=6)


e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)

e1.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)


Button(master, text='Predict', command=show_entry_fields).grid()

mainloop()

C:\Users\sweth\OneDrive\Desktop\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
C:\Users\sweth\OneDrive\Desktop\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(